<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>JukeBox - {{user}}</title>
    <script src="https://use.fontawesome.com/cd0dbeb8d3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='cssPrivateZone/StylePrivate.css') }}">
    <link rel="icon" href= "{{ url_for('static', filename='css/icon.png') }}">
</head>
<body>
    {% if SearchError %}
        <script type="text/javascript">
           window.alert("Wrong search pattern! Please use the help button to know how you can search in JukeBox.")
        </script>
     {% endif %}
    <nav class="nav2">
        <div class="burger2">
            <form id="demo-2" action="/RetrieveSearchInfo" method="POST" data-toggle="validator">
                <input id="serachText" name="serachText" type="search" placeholder="Search" required>
                <button type="submit" class="myButton">Search</button>
            </form>
            <img class="logoJukeBox" src="{{ url_for('static', filename='cssPrivateZone/jukeboxTitle.png') }}" alt="" />
            <a href='/logOut/{{user}}'><i class="fa fa-sign-out fa-3x icon-background2" aria-hidden="true"></i></a>
            <a class="alert" href=#><i class="fa fa-user-circle-o fa-3x icon-background3" aria-hidden="true"></i></a>
    </nav>
    <nav class="nav">
        <div class="burger">
            <div class="burger__patty"></div>
        </div>
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#1" class="nav__link c-blue"><i class="fa fa-music"></i><span class="tooltiptext">Playlist</span></a>
            </li>
            <li class="nav__item">
                <a href="#2" class="nav__link c-yellow scrolly"><i class="fa fa-fire" aria-hidden="true"></i><span class="tooltiptext">Trending</span></a>
            </li>
            <li class="nav__item">
                <a href="#3" class="nav__link c-red"><i class="fa fa-heart-o"></i><span class="tooltiptext">Just 4 U</span></a>
            </li>
            <li class="nav__item">
                <a href="#4" class="nav__link c-green"><i class="fa fa-paper-plane"></i><span class="tooltiptext">Time Machine</span></a>
            </li>
        </ul>
    </nav>
    <section class="panel b-green" id="1">
    <div class="wrapper1" >
        <div class="first">
            <h1 class="panel__headline">
                <i class="fa fa-music"></i>&nbsp;{{user}}'s Playlist
                <input id="toggle-trigger" type="checkbox" data-toggle="toggle" data-on="Public" data-off="Private">
            </h1>
        </div>
        <div class="second">
        <div class=scrollbox>
            <div class="table-responsive header-fixed" style="padding-top:-60px;text-align:left;height:500px;">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Song Name</th>
                            <th>Album</th>
                            <th>Artist</th>
                            <th>Plays</th>
                            <th>Length</th>
                            <th>Rating</th>
                            <th>Media player</th>
                        </tr>
                    </thead>
                    <tbody id='PlayList'>
                        <script>
                            var playlist = {{ playlist | tojson | safe }};
                            for (x = 0; x < {{ playlistLen }}; x++) {
                                var row = playlist[x];
                                document.write("<tr>" +
                                                "<td class='col-md-2'><a id='"+row[0]+"songPressed' href=# style='color:black;'>" + row[1] + "</a></td>" +
                                                "<td class='col-md-2'>" + row[3] + "</td>" +
                                                "<td ><a href='/GetArtistInfoPage/{{user}}/"+row[13]+"' style='color:black;'>" + row[2] + "</a></td>" +
                                                "<td id='"+row[0]+" plays'>" + row[5] + "</td>" +
                                                "<td>" + msToTime(row[8]) + "</td>" +
                                                "<td class='col-md-1'>" +
                                                    "<div class='row lead'>\
                                                        <div id='"+row[0]+" starsSong' class='starrr' data-rating="+row[4]+"></div>\
                                                    </div>" +
                                                "</td>" +
                                                "<td><audio controls id='"+row[0]+" audioControls' name='audioControls'><source src='"+row[12]+"' type='audio/ogg'></audio></td>" +
                                                "</tr>");
                            }
                            function msToTime(s) {
                                var ms = s % 1000;
                                s = (s - ms) / 1000;
                                var secs = s % 60;
                                s = (s - secs) / 60;
                                var mins = s % 60;
                                var hrs = (s - mins) / 60;
                                                        
                                return mins + ':' + secs;
                            };
                        </script>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </section>
    <section class="panel b-green" id="2">
            <div class="wrapperTrending">
                    <div class="navGridTrending"></div>
                    <div class="headTrending"><h1 class="panel__headline"><i class="fa fa-fire" aria-hidden="true"></i>&nbsp;Ooh That's Hot!</h1>
                    </div>
                    <div class="twoTrending">
                        <p style="margin-top: -20px;">Top Trending Artists</p>
                        <select value="trendingArtists" name="trendingArtists" id="trendingArtists" class="custom-select4 sources">
                                <option value="top20">Top 20</option>
                                <option value="girls">Top 10 by girls</option>
                                <option value="guys">Top 10 by guys</option>
                                <option value="pop">Top 5 in pop</option>
                                <option value="rock">Top 5 in rock</option>
                        </select>
                    </div>
                    <div class="threeTrending">
                        <p style="margin-top: -20px;">Top Trending Songs</p>
                        <select value="trendingSongs" name="trendingSongs" id="trendingSongs" class="custom-select5 sources">
                                <option value="top25">Top 25</option>
                                <option value="girls">Top 10 by girls</option>
                                <option value="guys">Top 10 by guys</option>
                                <option value="above50">Top 10 by people > 50</option>
                                <option value="30and50">Top 10 by people 30-50</option>
                                <option value="under30">Top 10 by people < 30</option>
                        </select>
                    </div>
                    <div class="fourTrending">
                        <p style="margin-top: -20px;">Top Trending Collections</p>
                        <select value="trendingAlbums" name="trendingAlbums" id="trendingAlbums" class="custom-select6 sources">
                                <option value="top10">Top 10</option>
                                <option value="girls">Top 10 by girls</option>
                                <option value="guys">Top 10 by guys</option>
                                <option value="pop">Top 5 in pop</option>
                                <option value="rock">Top 5 in rock</option>
                        </select>
                    </div>
                    <div class="fiveTrending" id="fiveTrending"></div>
                    <div class="sixTrending" id="sixTrending"></div>
                    <div class="sevenTrending" id="sevenTrending"></div>
                  </div>
    </section>
    <section class="panel b-green" id="3">
        <div class="wrapperRecommended">
            
            <div class="navGridRecom"></div>
            <div class="headRecom"><h1 class="panel__headline"><i class="fa fa-heart-o"></i>&nbsp;Just 4 U {{user}}</h1>
            </div>
            <div class="SongSlide">
                <p class="songsForYou">Songs For You</p>
                <div id="slider1" style="text-align:center;margin-top:-70px;width: 1230px; height: 250px;">
                    <a href="#" class="control_next1"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <a href="#" class="control_prev1"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <ul id=songSlideRows>
                    </ul>  
                </div>
            </div>
            <div class="ArtistSlide">
                <p class="artistsForYou">Artists For You</p>
                <div id="slider2" style="text-align:center;margin-top:-40px;width: 560px; height: 170px;">
                    <a href="#" class="control_next2"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <a href="#" class="control_prev2"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <ul id=artistSlideRows>
                    </ul>  
                </div>
            </div>
            <div class="CollectionSlide">
                <p class="collectionsForYou">Collections For You</p>
                <div id="slider3" style="text-align:center;margin-top:-40px;width: 640px; height: 170px;">
                    <a href="#" class="control_next3"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <a href="#" class="control_prev3"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <ul id=collectionSlideRows>
                    </ul>  
                </div>
            </div>
        </div>
    </section>
    <section class="panel b-green" id="4">
        <div class="wrapperTimeMachine">
                <div class="navGrid"></div>
                <div class="head"><h1 class="panel__headline"><i class="fa fa-paper-plane"></i>&nbsp;The Time Machine</h1>
                </div>
                <div class="two">
                    <p style="margin-top: -20px;">Top 5 Artists, by decades</p>
                    <select value="sourcesArtist" name="sourcesArtist" id="sourcesArtist" class="custom-select sources">
                            <option value="50s">50's</option>
                            <option value="60s">60's</option>
                            <option value="70s">70's</option>
                            <option value="80s">80's</option>
                            <option value="90s">90's</option>
                            <option value="90s">2000's</option>
                    </select>
                </div>
                <div class="three">
                    <p style="margin-top: -20px;">Top 5 Songs, by decades</p>
                    <select value="sourcesSongs" name="sourcesSongs" id="sourcesSongs" class="custom-select2 sources">
                            <option value="50s">50's</option>
                            <option value="60s">60's</option>
                            <option value="70s">70's</option>
                            <option value="80s">80's</option>
                            <option value="90s">90's</option>
                            <option value="90s">2000's</option>
                    </select>
                </div>
                <div class="four">
                    <p style="margin-top: -20px;">Top 5 Genres, by decades</p>
                    <select value="sourcesAlbums" name="sourcesAlbums" id="sourcesGenre" class="custom-select3 sources">
                            <option value="50s">50's</option>
                            <option value="60s">60's</option>
                            <option value="70s">70's</option>
                            <option value="80s">80's</option>
                            <option value="90s">90's</option>
                            <option value="90s">2000's</option>
                    </select>
                </div>
                <div class="five" id="five"></div>
                <div class="six" id="six"></div>
                <div class="seven" id="seven"></div>
              </div>
    </section>

    <!-- The form which is used to populate the item data -->
    
    <form id="userForm" action="/UpdateUserProfile" method="POST" class="form-horizontal" style="display: none;" data-toggle="validator">
        <div class="form-group">
            <label class="col-xs-3 control-label">userName</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="userName" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
                <label class="col-xs-3 control-label">password</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="passWord" disabled="disabled"/>
                </div>
        </div>
    
        <div class="form-group">
            <label class="col-xs-3 control-label">First Name</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="firstName" required/>
            </div>
        </div>

        <div class="form-group">
                <label class="col-xs-3 control-label">Last Name</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="lastName" required/>
                </div>
        </div>
    
        <div class="form-group">
            <label class="col-xs-3 control-label">Country</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="country" required/>
            </div>
        </div>
    
        <div class="form-group">
            <label class="col-xs-3 control-label">Age</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="age" required/>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-primary" id="saveProfile">Save</button>
            </div>
        </div>
    </form>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script  src="{{ url_for('static', filename='jsPrivateZone/star.js') }}"></script>
    <script  src="{{ url_for('static', filename='jsPrivateZone/index.js') }}"></script>
</body>
</html>
