<!DOCTYPE html>
<html>
<head>
  <title>Edit profile</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type='text/css' href= "{{ url_for('static', filename='css/signin.css') }}")>
  <link rel="icon" href= "{{ url_for('static', filename='css/icon.png') }}">
</head>

<body>
  <div class="form">
      <img align="middle" src="{{ url_for('static', filename='css/jukebox.png') }}"/>
      <ul class="tab-group">
        <li class="details">Hey lavi, here you can edit your profile</li>
      </ul>
      
        <div id="signup">
          <form action="http://127.0.0.1:8888/sign/SignUpAction" method="POST">
          <div class="top-row">
              <div class="field-wrap">
                  <label>
                    UserName<span class="req">*</span>
                  </label>
                  <input type="text" name="userNameSignUp" disabled/>
              </div>
              <div class="field-wrap">
                  <label>
                    Password<span class="req">*</span>
                  </label>
                  <input type="password" name="passwordSignUp" required autocomplete="off"/>
              </div>
          </div>

          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" name="firstName" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text" name="lastName" required autocomplete="off"/>
            </div>
          </div>

          <div class="sec-row">
              <div class="field-wrap">
                <label>
                  Age<span class="req">*</span>
                </label>
                <input type="text" name="age" required autocomplete="off" />
              </div>
          
              <div class="field-wrap">
                <label>
                  Country<span class="req">*</span>
                </label>
                <input type="text" name="country" required autocomplete="off"/>
              </div>
              <div class="field-wrap">
                  <input type="radio" class="customRadioMale" name="radioGender" value="Male">
                  <label for="Male" class="radio1">Male</label>
                  <input type="radio" class="customRadioFemale" name="radioGender" value="Female">
                  <label for="Female" class="radio2">Female</label>
              </div>
          </div>
          
          <button type="submit" class="button button-block"/>Submit</button>
          
          </form>

        </div>
        
      
</div> <!-- /form -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
