* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav2 {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 70px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: 90vh;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav__list--active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .nav__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
  }
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    font-size: 24px;
    background: #2b3033;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav__link:hover .tooltiptext {
    background: #272b2e;
    visibility: visible;
  }

  .nav__link .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: +50px;
    left: 110%;
}

.nav__link .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

  @media (max-width: 640px) {
    .nav {
      width: 70px;
    }
    .nav__list {
      height: 90vh;
    }
  }
  .burger2 {
    height: 10vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    background: #2b3033;
  }
  .burger {
    height: 10vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    background: #2b3033;
    cursor: pointer;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .burger:hover {
    background: #272b2e;
  }
  .burger__patty {
    position: relative;
    height: 2px;
    width: 40px;
    background: white;
  }
  .burger__patty:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
  }
  .burger__patty:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
  }
  .burger__patty, .burger__patty:before, .burger__patty:after {
    will-change: transform;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .burger--active .burger__patty {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .burger--active .burger__patty:before {
    -webkit-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
            transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
  }
  .burger--active .burger__patty:after {
    -webkit-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
            transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
  }
  @media (max-width: 640px) {
    .burger {
      height: 10vh;
    }
    .burger__patty {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    .burger--active .burger__patty {
      -webkit-transform: scale(0.8) rotate(90deg);
              transform: scale(0.8) rotate(90deg);
    }
  }

  .panel {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .panel__wrapper {
    padding: 7vh 7vw;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .panel__content {
    will-change: transform;
    -webkit-transform: scale(0.7) rotateX(-230deg);
            transform: scale(0.7) rotateX(-230deg);
    -webkit-transform-origin: center 80%;
            transform-origin: center 80%;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .panel__content--active {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  .panel__headline {
    font-weight: 700;
    opacity: 0.8;
    font-size: 48px;
    margin: 0 0 25px 0;
  }
  .panel p {
    margin: 0 0 25px 0;
    color: #1a1a1a;
    font-size: 24px;
    max-width: 800px;
  }
  .panel p:last-child {
    margin-bottom: 0;
  }
  .panel__block {
    height: 3px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 0 25px 0;
  }
  @media (max-width: 640px) {
    .panel__headline {
      font-size: 36px;
    }
    .panel__wrapper {
      padding: 10vh 10vw;
    }
    .panel p {
      font-size: 16px;
    }
  }
  
  .c-blue {
    color: #5fc7ea;
  }
  
  .c-red {
    color: #e68568;
  }
  
  .c-green {
    color: #68e6ac;
  }
  
  .c-yellow {
    color: #e6d068;
  }
  
  .b-blue {
    background: #5fc7ea;
  }
  
  .b-red {
    background: #e68568;
  }
  
  .b-green {
    background: #68e6ac;
  }
  
  .b-yellow {
    background: #e6d068;
  }
  
  .logo {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    z-index: 2;
  }
  .logo img {
    width: 65px;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .logo img:hover {
    -webkit-transform: rotate(180deg) scale(1.1);
            transform: rotate(180deg) scale(1.1);
  }

  .icon-background2 {
    position: fixed;
    z-index: 1;
    top:4px;
    right:8px;
    color: transparent;
    border-radius: 100%;
    border: 3px solid #fff;
    padding: 25px;
    height: 40px;
    width: 60px;
}
.icon-background3 {
    position: fixed;
    z-index: 1;
    top:17px;
    right:25px;
    color: #fff;
}

.privacyToggle{
    position: fixed;
    z-index: 1;
    top:17px;
    right:70px;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
    position: fixed;
    z-index: 1;
    top: 14px;
    left: 80px;
    width: 200px;
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #4e6096;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 300px;
	padding-left: 32px;
	color: transparent;
	cursor: auto;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	color: #000;
	background-color: #fff;
    cursor: auto;
}
#demo2 input:focus +.MyButton{
    display: inline-block;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
  
.styled-select {
    position: fixed;
    z-index: 1;
    top: 14px;
    left: 354px;
    background-color:#7892c2;
    border: none;
    overflow: hidden;
    color: rgb(0, 0, 0);
    width: 70px;
    font-family: 'Open Sans', sans-serif;
    
    height: 36px;
    -webkit-appearance: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    }

    .styled-select select {
        font-family:Arial;
        padding: 0 0px 0 0px;
        font-size: 14px;
        font-weight: 300;
        background: transparent;
        border: none;
        color: rgb(0, 0, 0);
        height: 29px;
        width: 70px;
        cursor: pointer;
     }


.myButton {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 14px;
    left: 430px;
	background-color:#7892c2;
	-moz-border-radius:8em;
	-webkit-border-radius:8em;
	border-radius:8em;
    border:none;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9.5px 17px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    display: inline-block;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
}

